/* app/globals.css */
body {
  background: linear-gradient(45deg, #8e44ad, #3498db);
  font-family: 'Helvetica Neue', sans-serif;
  color: #fff;
  height: 100vh;
  margin: 0; /* デフォルトマージンを削除 */
  display: flex;
  justify-content: center;
  align-items: center;
}